body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #5d7482;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    padding: 20px;
    box-sizing: border-box;
  }
  

  #timer {
    font-size: 24px;
    color: white;
    margin-bottom: 20px;
    text-align: center;
    width: 100%;
    position: absolute;
    top: 20px;
    z-index: 2;
  }
  



  .grid-container {
    background-color: #f5d9ab;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 2px 2px 8px #444;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 200px;
    z-index: 1;
    transition: top 0.5s ease, left 0.5s ease;
  }
  
  .grid {
    display: grid;
    grid-template-columns: repeat(3, 60px);
    gap: 10px;
  }
  
  .grid-btn {
    height: 50px;
    width: 50px;
    font-size: 18px;
    background-color: #fff;
    border: none;
    box-shadow: 2px 2px 5px #888;
    border-radius: 6px;
    cursor: pointer;
  }
  




  .start-btn-container {
    display: flex;
    justify-content: center;
    width: 100%;
    position: absolute;
    bottom: 20px;
    z-index: 2;
  }
  
  #start-btn {
    padding: 8px 16px;
    font-size: 14px;
    background-color: #fff;
    border: none;
    box-shadow: 2px 2px 5px #444;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
  }
  

  /* Wont lie.. following isnt my idea I saw it and I loved it. Shhhh tho */
  #start-btn:hover {
    background-color: #f1f1f1;
    transform: scale(1.05);
  }
  
  #start-btn:active {
    background-color: #ddd;
    transform: scale(1);
  }